---
import Layout from "../layouts/Layout.astro";
import ServiceReferences from "../components/ServiceReferences.astro";
import ProjectsCarousel from "../components/ProjectsCarousel.astro";
import ImageCarousel from "../components/ImageCarousel.astro";
import Contact from "../components/Contact.astro";
import Img from "../components/Img.astro";

const hero_img = "https://picsum.photos/1920/1080";
const service_img = "https://picsum.photos/1920/1080?grayscale";

const roadmap_imgs = [
    {
        src: "https://picsum.photos/500/300",
        alt: "A picsum image",
    },
    {
        src: "https://picsum.photos/1080/720",
        alt: "A picsum image",
    },
    {
        src: "https://picsum.photos/200/200",
        alt: "A picsum image",
    },
    {
        src: "https://picsum.photos/400/300",
        alt: "A picsum image",
    },
    {
        src: "https://picsum.photos/350/350",
        alt: "A picsum image",
    },
    {
        src: "https://picsum.photos/200/200",
        alt: "A picsum image",
    },
];
---

<Layout title="SciLab">
    <main style="--blobX: 50%; --blobY: 50%" id="blob_container">
        <article class="hero" style={`--bg-url: url(${hero_img})`} lazy-animation>
            <h2><i>Tempor dolore ipsum</i></h2>
            <h1><b>Science Lab</b></h1>
            <p>
                Sunt adipisicing Lorem nulla nostrud reprehenderit laboris elit
                ex mollit et voluptate Lorem labore amet.
            </p>
            <div class="hero__references">
                <a href="/blog" use-arrow>View our posts</a>
                <a href="/research">Research</a>
            </div>
        </article>
        <article class="services">
            <h1 class="services__header" lazy-animation lazy-once>
                Our Service
                <div>
                    <button type="button" id="previous__service">←</button>
                    <button
                        type="button"
                        id="next__service"
                        data-available="true">→</button
                    >
                </div>
            </h1>
            <ServiceReferences id="services__references"/>
            <div class="services__image">
                <Img src={service_img} alt="service" />
            </div>
            <h2>
                Ad veniam ullamco fugiat reprehenderit incididunt elit deserunt
                eu non. Dolor pariatur velit anim aute nisi dolor qui. Eu
                laboris sit culpa est nulla consectetur aliquip consectetur non.
            </h2>
            <a href="/services" use-arrow>Discover our missions</a>
            <ProjectsCarousel class="service__projects"/>
            <section class="services__info">
                <h2 class="services__info__header">Our Lab</h2>
                <div class="services__info__reference">
                    <a href="/lab">See all</a>
                </div>
                <p class="services__info__description">
                    Voluptate voluptate commodo adipisicing nostrud consectetur
                    pariatur culpa aute adipisicing. Anim fugiat tempor eiusmod
                    sunt ipsum cupidatat enim occaecat non officia anim
                    excepteur sunt. Consequat ullamco labore aliquip fugiat
                    cupidatat deserunt do eu. Esse deserunt sunt incididunt ea
                    et do laborum officia qui sit est nostrud. Fugiat velit
                    incididunt in cillum mollit ut laborum nulla officia magna
                    nostrud et et. Velit in eiusmod ipsum qui. Velit elit qui
                    est quis anim anim non laboris consequat nostrud culpa.
                    Incididunt fugiat nulla commodo Lorem elit ex ullamco elit.
                    Eiusmod eu excepteur ea dolore consequat irure consectetur.
                </p>
                <span class="services__info__experience">
                    <b>20+</b> Days of experience
                </span>
            </section>
        </article>
        <article class="roadmap">
            <h1>Roadmap</h1>
            <p>
                Occaecat amet ullamco laborum consectetur sit elit irure
                incididunt sint nulla. Fugiat voluptate fugiat sint anim tempor
                ut. Occaecat excepteur consequat veniam ad quis in.
            </p>
            <ImageCarousel class="roadmap__carousel" imgs={roadmap_imgs} />
        </article>
        <article>
            <Contact />
        </article>
    </main>
</Layout>
<script>
    const blobContainer = document.getElementById("blob_container");
    window.addEventListener("mousemove", (ev) => {
        ev.preventDefault();
        const { clientX, clientY } = ev;
        const setBlobPosition = () => {
            blobContainer.style.setProperty("--blobX", `${clientX}px`);
            blobContainer.style.setProperty("--blobY", `${clientY}px`);
        };
        window.requestAnimationFrame(setBlobPosition);
    });

    const serviceRefs = document.getElementById(
        "services__references"
    ).children;
    const servicePrevBt = document.getElementById("previous__service");
    const serviceNextBt = document.getElementById("next__service");
    let currentServiceIdx = 0;
    const updateTranslate = (idx: number) => {
        servicePrevBt.dataset.available = `${currentServiceIdx > 0}`;
        serviceNextBt.dataset.available = `${
            currentServiceIdx < serviceRefs.length - 1
        }`;
        for (const ref of serviceRefs) {
            if (!(ref instanceof HTMLElement)) continue;
            ref.style.setProperty("--transX", `${idx}`);
        }
    };
    servicePrevBt.addEventListener("click", () => {
        currentServiceIdx = Math.max(currentServiceIdx - 1, 0);
        updateTranslate(currentServiceIdx);
    });
    serviceNextBt.addEventListener("click", () => {
        currentServiceIdx = Math.min(
            currentServiceIdx + 1,
            serviceRefs.length - 1
        );
        updateTranslate(currentServiceIdx);
    });
</script>

<style>
    @keyframes rotate {
        from {
            rotate: 0deg;
        }
        50% {
            scale: 1 1.15;
        }
        to {
            rotate: 360deg;
        }
    }
    main {
        width: 100%;
        overflow: hidden;
    }
    article {
        position: relative;
        padding: 0 var(--padding-lr);
        margin-bottom: var(--margin-bt-large);
    }
    #blob_container::before {
        content: "";
        position: fixed;
        width: 20vw;
        aspect-ratio: 1;
        background-image: linear-gradient(var(--color-gradient-lr));
        border-radius: 50%;
        filter: blur(100px);
        transform-origin: 0% 0%;
        transform: translate(-50%, -50%);
        opacity: 0.4;
        top: var(--blobY);
        left: var(--blobX);
        pointer-events: none;
        z-index: 999999;
        animation: rotate 20s infinite;
        backface-visibility: hidden;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
    .hero::before,
    .hero::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
    }
    .hero::before {
        background-image: var(--bg-url);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-color: var(--color-text);
        transform: scale(100%);
        filter: brightness(80%);
        transition: transform 0.3s ease-in-out;
    }
    .hero::after {
        background-image: linear-gradient(
            to top,
            var(--color-background),
            transparent
        );
    }
    .hero[lazy-animation]::before {
        transform: scale(120%);
    }
    .hero > h1 {
        margin-bottom: calc(var(--margin-bt-normal) / 2);
    }
    .hero > p {
        padding: 0 20%;
        margin-bottom: var(--margin-bt-normal);
    }
    .hero__references {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .hero__references > a {
        padding: var(--padding-bt);
        border: 2px solid var(--color-secondary);
        border-radius: 3rem;
    }
    .hero__references > a:first-child {
        background-color: var(--color-secondary);
        text-shadow: none;
        color: var(--color-background);
    }
    .services__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
    .services__header[lazy-animation] {
        opacity: 0;
        transform: translateY(50%);

    }
    .services {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        gap: 2rem;
    }
    .services > * {
        margin-bottom: 0;
        margin-top: 0;
    }
    #previous__service,
    #next__service {
        font-size: var(--fontsize-large);
        line-height: 3rem;
        padding: 0.2rem 2rem 0.7rem 2rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    #previous__service[data-available="true"],
    #next__service[data-available="true"] {
        border-radius: 3rem;
        background-color: var(--color-overlay);
    }
    #services__references {
        --content-gap: 2rem;
        --border-width: 3px;
        position: relative;
        display: flex;
        width: 100%;
        overflow: hidden;
        gap: var(--content-gap);
        padding: var(--content-gap) 0 0 var(--content-gap);
    }
    #services__references > :global(*) {
        transform: translateX(
            calc(-100% * var(--transX) - (var(--content-gap) * var(--transX)))
        );
        transition: all 1s ease-in-out;
    }
    #services__references :global(p) {
        flex: 1 0 calc(50% - var(--content-gap));
    }
    #services__references::before,
    #services__references::after {
        content: "";
        position: absolute;
        inset: 0;
    }
    #services__references::before {
        border: var(--border-width) solid transparent;
        background: linear-gradient(var(--color-secondary), transparent 50%),
            border-box;
        background-size: calc(100% + var(--border-width) * 2)
            calc(100% + var(--border-width) * 2);
        background-position: center;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        border-radius: var(--radius-normal);
        mask-composite: exclude;
    }
    .services__image {
        position: relative;
        border-radius: var(--radius-large);
    }
    .services__image::after {
        content: "";
        position: absolute;
        inset: 0;
        transform: scale(105%);
        box-shadow: inset 0 0 3rem 6rem var(--color-background),
            0 0 3rem 3rem var(--color-background);
    }
    .services > h2 {
        padding: 0 10%;
        text-align: center;
    }
    .services > a {
        white-space: nowrap;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: fit-content;
        padding: var(--padding-bt);
        color: var(--color-background);
        background-color: var(--color-text);
        border-radius: var(--radius-large);
    }
    .services__info {
        margin: 2rem 0;
        display: grid;
        gap: 2rem 1rem;
        grid-template-areas:
            "h d d"
            "r d d"
            "r s s";
        grid-template-columns: 40% 30% 30%;
        font-size: var(--fontsize-normal);
    }
    .services__info__header {
        grid-area: h;
    }
    .services__info__description {
        grid-area: d;
        text-align: justify;
    }
    .services__info__reference {
        grid-area: r;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .services__info__reference > a {
        font-size: var(--fontsize-large);
        white-space: nowrap;
        color: var(--color-background);
        background-color: var(--color-text);
        padding: 2rem 3rem;
        border-radius: 3em;
        text-transform: uppercase;
    }
    .services__info__experience {
        grid-area: s;
        display: flex;
        justify-content: space-between;
        font-size: var(--fontsize-large);
        font-weight: 300;
    }
    .roadmap {
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        gap: 1rem;
    }
    .roadmap > *:not(.roadmap__carousel) {
        padding: 0 var(--padding-lr);
    }
    .roadmap__carousel {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        counter-reset: roadmap_img;
        padding: 10% 0;
        transform: rotate(5deg) scale(105%);
    }
    .roadmap__carousel > :global(.img) {
        flex-shrink: 0;
        position: relative;
        --idx_rm_height: calc(var(--radius-large) * 3.5);
        height: var(--idx_rm_height);
        aspect-ratio: 1.5;
        border-radius: var(--idx_rm_height);
        margin-right: 1rem;
    }
    .roadmap__carousel > :global(*)::after {
        counter-increment: roadmap_img;
        content: "PH" counter(roadmap_img);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-overlay);
        backdrop-filter: blur(10px);
        padding: 1em 3em;
        border-radius: var(--radius-normal);
        overflow: hidden;
    }
</style>
